img {
  height: 50%;
  border-radius: 50%;
  box-shadow: 8px 8px 15px 0px rgba(182, 184, 73, 0.74);
  margin-top: 20px;
}

.container-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

.nome {
  margin-top: 30px;
}

ion-row {
  padding: 8px 0;
  display: flex;
  background-color: #222222;
  color: rgb(0, 204, 255);
}

ion-icon {
  font-size: 1.5rem;
  font-weight: 600;
}

.botaos {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  .btn {
    width: 90px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 174, 255);
    background-color: #222;
    border-radius: 10px;
    gap: 4px;

    ion-icon {
      font-size: 1.8rem;
      font-weight: 650;
    }
  }
}
