<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="voltar()" class="ion-text-center"> El Barto Simpson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div clas="container-coin" class="ion-text-center">
    <img src="https://i.pinimg.com/originals/d5/f9/76/d5f97636472226bc78453c05ac895a62.png" alt="" />
    <div class="nome">
      <h1 class="ion-text-center">El Barto Simpsons</h1>
      <p>014 98229-8853</p>
    </div>
  </div>

  <div class="info">

    <div class="botaos">
      <button class="btn">
        <ion-icon name="call-outline"></ion-icon>
        <span> Ligar </span>
      </button>

      <button class="btn">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <span> Enviar SMS </span>
      </button>

      <button class="btn">
        <ion-icon name="videocam-outline"></ion-icon>
        <span>Vídeo chamada</span>
      </button>
    </div>
  </div>
</ion-content>