<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="voltar()" class="ion-text-center"> Scooby-Doo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div clas="container-coin" class="ion-text-center">
    <img
        src="https://play-lh.googleusercontent.com/42Bw-VZcK_OQOCa0BpFJrAK7VtNWv6dGPX4FJurmqWk6NgbYQZ_XmD8y_2Fqd_1KzGs"
        alt="aa" />
    <div class="nome">
      <h1 class="ion-text-center"> Scooby-Doo </h1>
      <p>014 99832-6512</p>
    </div>
  </div>

  <div class="info">

    <div class="botaos">
      <button class="btn">
        <ion-icon name="call-outline"></ion-icon>
        <span> Ligar </span>
      </button>

      <button class="btn">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <span> Enviar SMS </span>
      </button>

      <button class="btn">
        <ion-icon name="videocam-outline"></ion-icon>
        <span>Vídeo chamada</span>
      </button>
    </div>
  </div>
</ion-content>